PROJECT_NAME=FASTAPI
SECRET_KEY=secret123
SQL_DATABASE_URL=postgresql+psycopg2://postgres:deno@localhost:5432/fastapi_base


# SAIGONCHILDREN ADMIN DEFAULT ACCOUNT
DEFAULT_ADMIN_FULL_NAME="Admin"
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_PHONE=